*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
}

/* temperature screen */
.temp-box {
    height: 80%;
    color: white;
    padding-bottom: 12%;
    background-color:#01161E;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.temp {
    margin-right: 1.5rem;
    display: flex; 
    flex-direction: column;
}

.sec-1 {
    padding-bottom: 1%;
}

#cloud {
    padding-left: 1rem;
}

/* search column */
.search-box {
    height: 20%;
    background-color: #003638;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid white;
    height: 3.5rem;
    width: 55rem;
}

.search-btn{
    height: 3.5rem;
    width: 12rem;
    font-size:1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 1rem;
    background-color:#4ECDC4;
}
